<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/img/icon.png">
    <title>Топ сериалов | Главная</title>
</head>
<body>
     <div class="header">
         <h1>Какой сериал посмотреть, пользуясь рейтингом от сервиса "Кинопоиск"</h1>
     </div>
     <div class="top-list">
         <div class="top">
             <a href="/top1"><img class="top-img" src="/static/img/top1.webp"></a>
                 <div class="top-text">
                     <h3>1 место рейтинга на Кинопоиске</h3>
                     <h5>"Игра престолов" от Дэвида Наттера</h5>
                     <p>К концу подходит время благоденствия, и лето, длившееся почти десятилетие, угасает. Вокруг средоточия власти
                         Семи королевств, Железного трона, зреет заговор, и в это непростое время король решает искать поддержки у
                         друга юности Эддарда Старка. В мире, где все — от короля до наемника — рвутся к власти, плетут интриги и
                         готовы вонзить нож в спину, есть место и благородству, состраданию и любви. Между тем никто не замечает
                         пробуждение тьмы из легенд далеко на Севере — и лишь Стена защищает живых к югу от нее.</p>
                     <p>Оценка зрителей: <b>9.0</b></p>
                     <p>Фэнтэзи, драма, боевик</p>
                 </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top2"><img class="top-img" src="/static/img/top2.webp"></a>
             <div class="top-text">
                 <h3>2 место рейтинга на Кинопоиске</h3>
                 <h5>"Во все тяжкие" от Гинса Гиллигана</h5>
                 <p>Школьный учитель химии Уолтер Уайт узнаёт, что болен раком лёгких. Учитывая сложное финансовое состояние
                     дел семьи, а также перспективы, Уолтер решает заняться изготовлением метамфетамина. Для этого он привлекает
                     своего бывшего ученика Джесси Пинкмана, когда-то исключённого из школы при активном содействии Уайта.
                     Пинкман сам занимался варкой мета, но накануне, в ходе рейда УБН, он лишился подельника и лаборатории.</p>
                 <p>Оценка зрителей: <b>8.9</b></p>
                 <p>Криминал, драма, триллер</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top3"><img class="top-img" src="/static/img/top3.webp"></a>
             <div class="top-text">
                 <h3>3 место рейтинга на Кинопоиске</h3>
                 <h5>"Сопрано" от Тимоти Ван Паттена</h5>
                 <p>Мафиозный босс Северного Джерси Тони Сопрано эффективно решает проблемы «семьи». Но с собственной роднёй
                     ситуация сложнее: дети от рук отбились, брак под угрозой, в отношениях с пожилой матерью сплошное недопонимание.
                     После серии панических атак он решает тайно посещать психотерапевта.</p>
                 <p>Оценка зрителей: <b>8.8</b></p>
                 <p>Криминал, драма</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top4"><img class="top-img" src="/static/img/top4.webp"></a>
             <div class="top-text">
                 <h3>4 место рейтинга на Кинопоиске</h3>
                 <h5>"Друзья" от Гари Хэлворсона</h5>
                 <p>Шестеро друзей – Рейчел, Моника, Фиби, Джоуи, Чендлер и Росс – живут по соседству, вместе убивают время,
                     делятся секретами и иногда очень сильно влюбляются.</p>
                 <p>Оценка зрителей: <b>9.2</b></p>
                 <p>Комедия, мелодрама</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top5"><img class="top-img" src="/static/img/top5.webp"></a>
             <div class="top-text">
                 <h3>5 место рейтинга на Кинопоиске</h3>
                 <h5>"Чернобыль" от Йохана Ренка</h5>
                 <p>26 апреля 1986 года в 1:23:45 во время проведения эксперимента по безопасности на Чернобыльской АЭС
                     происходит взрыв реактора и пожар. Поднятые по тревоге пожарные без спецзащиты прибывают на место аварии,
                     не подозревая, что оказались в эпицентре крупнейшей в истории человечества техногенной катастрофы.
                     Руководство ЧАЭС уверяет Кремль, что ситуация под контролем, и радиационный фон в норме, но по настоянию
                     академика Легасова его вместе с зампредседателя Совета Министров Борисом Щербиной отправляют разобраться
                     в происходящем на месте.</p>
                 <p>Оценка зрителей: <b>8.8</b></p>
                 <p>Драма, история</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top6"><img class="top-img" src="/static/img/top6.webp"></a>
             <div class="top-text">
                 <h3>6 место рейтинга на Кинопоиске</h3>
                 <h5>"Детство Шелдона" от Алекса Рейда</h5>
                 <p>История о непростом детстве вундеркинда Шелдона Купера. Родители юного гения не разделяют увлечения
                     сына наукой: его мать очень религиозна, а отец, бывший футбольный тренер, предпочитает проводить вечера
                     в компании пива и телевизора. Со сверстниками тоже не ладится, ведь Шелдона куда больше детских игрушек
                     интересует, где можно взять обогащённый уран для научных экспериментов.</p>
                 <p>Оценка зрителей: <b>8.5</b></p>
                 <p>Комедия</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top7"><img class="top-img" src="/static/img/top7.webp"></a>
             <div class="top-text">
                 <h3>7 место рейтинга на Кинопоиске</h3>
                 <h5>"Атака титанов" от Тэцуро Араки</h5>
                 <p>Уже многие годы человечество ведёт борьбу с титанами — огромными существами, которые не обладают особым
                     интеллектом, зато едят людей и получают от этого удовольствие. После продолжительной борьбы остатки
                     человечества построили высокую стену, окружившую страну людей, через которую титаны пройти не могли.
                     С тех пор прошло сто лет, люди мирно живут под защитой стены. Но однажды подростки Эрен и Микаса
                     становятся свидетелями страшного события — участок стены разрушается супертитаном, появившимся прямо
                     из воздуха. Титаны нападают на город, и дети в ужасе видят, как один из монстров заживо съедает мать
                     Эрена. Мальчик клянётся, что убьёт всех титанов и отомстит за человечество.</p>
                 <p>Оценка зрителей: <b>8.7</b></p>
                 <p>Аниме, фантастика, драма</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top8"><img class="top-img" src="/static/img/top8.webp"></a>
             <div class="top-text">
                 <h3>8 место рейтинга на Кинопоиске</h3>
                 <h5>"Гравити Фолз" от Тимоти Ван Паттена</h5>
                 <p>Приключения двойняшек, Диппера и Мэйбл, которые проводят летние каникулы у двоюродного дедушки Стэна в
                     городке под названием Гравити Фолз.</p>
                 <p>Оценка зрителей: <b>9.0</b></p>
                 <p>Мультфильм, комедия, детектив</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top9"><img class="top-img" src="/static/img/top9.webp"></a>
             <div class="top-text">
                 <h3>9 место рейтинга на Кинопоиске</h3>
                 <h5>"Тед Лассо" от Деклана Лауни</h5>
                 <p>Тренер сборной колледжа Канзаса по американскому футболу Тед Лассо — неисправимый оптимист, всеобщий
                     любимец и звезда YouTube. Новая владелица одного заштатного английского футбольного клуба решает
                     использовать его в своих хитрых планах и предлагает Теду должность главного тренера, рассчитывая, что
                     тот развалит клуб. Ничего не смысля в этом виде спорта, Тед приступает к своим новым обязанностям со
                     всем присущим ему энтузиазмом.</p>
                 <p>Оценка зрителей: <b>8.5</b></p>
                 <p>Комедия, спорт</p>
             </div>
         </div>
         <hr>
         <div class="top">
             <a href="/top10"><img class="top-img" src="/static/img/top10.webp"></a>
             <div class="top-text">
                 <h3>10 место рейтинга на Кинопоиске</h3>
                 <h5>"Офис" от Пола Фига</h5>
                 <p>Сериал о трудовых буднях небольшого регионального офиса крупной компании, обитатели которого целыми
                     днями должны терпеть закидоны своего непутевого босса.</p>
                 <p>Оценка зрителей: <b>8.7</b></p>
                 <p>Комедия</p>
             </div>
         </div>
         <hr>
     </div>
     <div class="end">
        <p>Вся информация взята <a href="https://www.kinopoisk.ru/lists/movies/series-top250/">отсюда</a></p>
     </div>
</body>
</html>