<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/top-style.css">
    <link rel="icon" href="static/img/icon.png">
    <title>Топ сериалов | Актеры</title>
</head>
<body>
    <div class="header">
        <h1>Актеры сериала "Во все тяжкие"</h1>
    </div>
    <div class="actors">
        <!-- Первый актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top2_actors/top1-actor.webp">
            <div class="actor-text">
                <p>Брайан Крэнстон</p>
            </div>
        </div>
        <!-- Второй актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top2_actors/top2-actor.webp">
            <div class="actor-text">
                <p>Анна Ганн</p>
            </div>
        </div>
        <!-- Третий актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top2_actors/top3-actor.webp">
            <div class="actor-text">
                <p>Аарон Пол</p>
            </div>
        </div>
        <!-- Четвертый актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top2_actors/top4-actor.webp">
            <div class="actor-text">
                <p>Дин Норрис</p>
            </div>
        </div>
        <!-- Пятый актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top2_actors/top5-actor.webp">
            <div class="actor-text">
                <p>Бетси Брандт</p>
            </div>
        </div>
    </div>
</body>
</html>