<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/top-style.css">
    <link rel="icon" href="static/img/icon.png">
    <title>Топ сериалов | Актеры</title>
</head>
<body>
    <div class="header">
        <h1>Актеры сериала "Детство Шелдона"</h1>
    </div>
    <div class="actors">
        <!-- Первый актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top1_actors/top1-actor.webp">
            <div class="actor-text">
                <p>Питер Динклэйдж</p>
            </div>
        </div>
        <!-- Второй актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top1_actors/top2-actor.webp">
            <div class="actor-text">
                <p>Лина Хиди</p>
            </div>
        </div>
        <!-- Третий актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top1_actors/top3-actor.webp">
            <div class="actor-text">
                <p>Эмилия Кларк</p>
            </div>
        </div>
        <!-- Четвертый актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top1_actors/top4-actor.webp">
            <div class="actor-text">
                <p>Кит Харингтон</p>
            </div>
        </div>
        <!-- Пятый актер -->
        <div class="actor">
            <img class="actor-img" src="static/img/actors/top1_actors/top5-actor.webp">
            <div class="actor-text">
                <p>Софи Тёрнер</p>
            </div>
        </div>
    </div>
</body>
</html>