<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/top-style.css">
    <link rel="icon" href="static/img/icon.png">
    <title>Топ сериалов | Актеры</title>
</head>
<body>
    <div class="header">
        <h1>Актеры сериала "Атака Титанов"</h1>
    </div>
    <div class="actors">
        <div class="actor">
            <img class="actor-img" src="static/img/smile.png" height="420px">
            <div class="actor-text">
                <p>А это аниме, тут нет актеров</p>
            </div>
        </div>
    </div>
</body>
</html>